  ////////////////////////////////
 // BUTTONS  ////////////////////
////////////////////////////////

[data-role="button"], 
button,
.button {
    background: black;
    @include box-shadow(1px 2px 2px rgba(0, 0, 0, .9));
    color: white;
    font-weight: 200;
    padding: 8px 25px 5px;
    text-shadow: none;
    transition: .3s ease-in-out;    
        
        &:hover,
        &:active,
        &:focus,
        &:visited{
            border: 1px solid yellow;
            background: black;
            @include box-shadow(none);
            color: white;
            text-decoration:none;
        }

        &:active,
        &:focus{
            background: black;
            @include box-shadow(none);
            color: white;
        }

        &::-moz-focus-inner {
            background: black;
            @include box-shadow(none);    
            color: white;
        }

} // End Button

